* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../img/green-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 100px auto;
    border-radius: 4px;
    height: 600px;
    width: 600px;
    background-color: #cecece;
}